
#weapons{
    font-family: cursive;
    font-family: monospace;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 150%;
    background-color: #CFFB7E;
    max-height: 350px;
    overflow-y: auto;
    }

#robotData{
	font-family: cursive;
	font-family: monospace;
	font-size: 150%;
}

.containerGeneralDataPlayer{
	font-size: 150%;
	font-family: cursive;
	font-family: monospace;
	line-height: 150%;
}

.generalTitle{
	text-align: center;
	font-size: 300%;
	font-family: cursive;
	font-family: monospace;

}